*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
}

.main-container{
    width: 90%;
    margin: 0 auto;
}

/* inizio header */
.head{
    background-color: #ADD8E6;
    width: 100%;
    padding:10px 0 1px 0;
    
    
}

.info-flex{
    width: 60%;
    margin: auto;
    background-color: #DAA520;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

 
.info{
    margin: auto;
    border: 2px dashed black;
    padding: 15px;
    font-size: 22px;
    font-weight: 400;
}

.logo{
    text-align: left;
    width: 25%;
}

.link{
    text-align: center;
    width: 50%;
    
}

.login{
    text-align: right;
    width: 25%;}
   
 .centrale-flex{
    background-color: #00008B;
    height: 600px;
    width: 100%;
    margin: 10px 0 ;
    display: flex;
    justify-content: center;
}

.sotto-container{
    background-color: #EE82EE;
    height: 500px;
    width: 45%;
    margin: auto;
    border: 2px dashed black ;
}
/* fine header */

/* inizio body */
.body-container{
    width: 100%;
    margin: auto;
}

.bianca-flex{
    background-color: white;
    margin: 50px auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.maggiore{
    background-color: #1E90FF;
    height: 500px;
    width:30%;
    border: 2px dashed black;
}

.minore{
    background-color: #FFC0CB;
    height: 500px;
    width: 20%;
    border: 2px dashed black;
}

.grigia-flex{
    background-color: #D3D3D3;
    margin: 50px auto;
    padding: 50px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

#centro-grigia-flex{
    background-color: #FFC0CB;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#unico{
    height: 700px;
    width: 51%;
    margin: auto;
    border: 2px dashed black;
    background-color: #228B22;
}
/* fine body */

/* inizio foooter */
footer{background-color: #23272A;
}

.multi-flex{
    padding: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#singolo{
    height: 500px;
    width: 15%;
    background-color: #F08080;
    border: 2px dashed black;
}


#multiplo-flex{
    width: 37%;
    height: 500px;
    display: flex;
   
}

.colonne{
    width: 25%;
    background-color: #20B2AA;
    border: 2px dashed white;
}

#flex-footer{
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;

}

#container-footer{
    background-color: white;
    width: 50%;
    padding: 25px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;  
}

.bottom{
    border: 2px dashed black;
    background-color: #FFB6C1;
    font-size: 25px;
    font-weight: 400;
    padding: 5px;
    
    
}
/* fine footer */


